body {
  color: antiquewhite;
  background-color: black;
  font-family: 'Abel', sans-serif;
  margin: 0 0 0 0;
}

.karlheader {
  color: antiquewhite;
  background-color: black;
  font-size: 2em;
  font-family: 'Abel', sans-serif;
  float: left;
  margin: 0;
  padding: 0;
}

.karlheader-link {
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

li {
  float: right;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: dimgrey;
  border-radius: 0px;
}

.section1 {
  background-color: dimgrey;
  height: 600px;
  background: radial-gradient(transparent, black), url('images/backpaper1.jpg');
  background-size: 100% auto;
  padding: 40px;
}

.section2 {
  background-color: darkgrey;
  background: radial-gradient(transparent, black), url('images/backpaper2.jpg');
  background-size: 100% auto;
  height: 600px;
  padding: 40px;
}

.section3 {
  background-color: gainsboro;
  height: 600px;
}

.hidden {
  opacity: 0;
}

.revealed {
  transition: opacity;
  transition-duration: 1.5s;
  opacity: 1;
}



.grid {
  font-size: 1.4em;
  display: grid;
  grid-template-rows: ;
  grid-template-columns: 50% 50%;
  grid-gap: 0px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.imagefix {
  height: auto;
  max-height: 700px;
  padding: 5px;
}

.productimages {
  height: 500px;
  background-color: pink;
  width: 300px;
}

.section-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  display: flex;
  align-content: left;
}
