body {
  height: 100%;
  color: antiquewhite;
  background-color: #02132d;
  font-family: 'Abel', sans-serif;
  margin: 0 0 0 0;
}

.karlheader {
  color: antiquewhite;
  background-color: #02132d;
  font-size: 2em;
  font-family: 'Abel', sans-serif;
  float: left;
  margin: 0;
  padding: 0;
}

.karlheader-link {
  color: #fff;
  text-align: center;
  padding: 10px 10px 10px 30px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0 30px 0 0;
  padding: 0;
  overflow: hidden;
  position: static;
}

li {
  float: right;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #002760;
  border-radius: 0px;
  text-shadow: 1px 1px 1px black;
}

.section1 {
  font-family: 'Julius Sans One', sans-serif;
  background-color: dimgrey;
  height: 600px;
  background: radial-gradient(transparent, black), url('images/backpaper2.jpg');
  background-size: cover;
  background-attachment: scroll;
  padding: 40px;
  box-shadow: 5px 5px 10px black;
}

.section2 {
  font-family: 'Julius Sans One', sans-serif;
  background-color: darkgrey;
  background: radial-gradient(transparent, black), url('images/backpaper1.jpg');
  height: 900px;
  padding: 100px 40px 200px 40px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% auto;
  box-shadow: 5px 5px 10px black;
}

.section3 {
  font-family: 'Julius Sans One', sans-serif;
  background-color: gainsboro;
  height: 600px;
  background: radial-gradient(transparent, black), url('images/backpaper3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding: 40px;
  box-shadow: 5px 5px 10px black;
}

.hidden {
  opacity: 0;
  transition: opacity;
  transition-duration: 2s;
}

.revealed {
  transition: opacity;
  transition-duration: 2s;
  opacity: 1;
}

.grid {
  font-size: 1.4em;
  display: grid;
  grid-template-rows: ;
  grid-template-columns: 30% ;
  grid-gap: 0px;
  margin: 15;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imagefix {
  height: auto;
  max-height: 700px;
  padding: 5px;
}

.product1box {
  padding: 20px;
  color: black;
  height: 310px;
  width: 250px;
  background: url('images/product2.jpg');
  background-position: center center;
  background-size: cover;
  box-shadow: 5px 5px 10px;
}

.product2box {
  padding: 20px;
  color: black;
  height: 310px;
  width: 250px;
  background: url('images/product1.jpg');
  background-position: center center;
  background-size: cover;
  box-shadow: 5px 5px 10px;
}

.product3box {
  padding: 20px;
  color: black;
  height: 310px;
  width: 250px;
  background: url('images/product3.jpg');
  background-position: center center;
  background-size: cover;
  box-shadow: 5px 5px 10px;
}

.section-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
}

.greeting {
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  text-shadow: 2px 2px 2px black;
}
